
@media screen and (max-width: 768px) {

    body {
        font-family: 'Reem Kufi', sans-serif;
    }

    
.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height:8%;
    background-color: #222222;
    padding-top:15px;
    padding-bottom:5px;
    border-top-left-radius: 20px; 
    border-top-right-radius: 20px;
    z-index: 2;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.navbar li {
    display: inline-block;
    margin: 0 35px;
}

.navbar li a {
    color: #fff;
    text-decoration: none;
    display: flex; /* Use flexbox to align icon and text vertically */
    flex-direction: column; /* Stack icon and text vertically */
    align-items: center; /* Center items horizontally */
}

.navbar li a img {
    width: 33px; 
    height: 30px; 
}


h1{
    font-size: 37px;
    font-weight: 500px;
    text-align: center;
    padding-top: 30px;
    padding-bottom:30px;
    padding-left:40px;
    padding-right:40px;

    font-family: "Readex Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style:normal;
    font-variation-settings: "HEXP" 0; 

    
}


.flex-container1 {
    display: flex;
    justify-content: space-between; /* Items are spaced evenly with space between them */
    align-items: center; /* Align items vertically in the center */
    border: 1px solid rgba(0, 0, 0, 0.2); /* Adding stroke effect */
    border-radius: 30px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
padding-right: 20px;
}


.text-left h1 {
  font-size: 25px;
  margin-bottom: -40px;
  margin-top:-15px;
  font-weight: 400;
  line-height: 1;
  
}

.text-left p {
    font-size: 15px;
    margin-left: 70px;

    font-family: "Readex Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style:normal;
    font-variation-settings: "HEXP" 0; 
  }


  .image{
    padding-right:50px;
  }

  .flex-container2 {
    display: flex;
    justify-content: space-between; /* Items are spaced evenly with space between them */
    align-items: center; /* Align items vertically in the center */
    border: 1px solid rgba(0, 0, 0, 0.2); /* Adding stroke effect */
    border-radius: 30px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding-right: 20px;
}


.text-left2 h1 {
  font-size: 25px;
  margin-bottom: -40px;
  margin-top:-20px;
  font-weight: 400;
  margin-left:45px;
}

.text-left2 p {
    font-size: 15px;
    margin-left: 85px;

    font-family: "Readex Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style:normal;
    font-variation-settings: "HEXP" 0; 
  }


  .image{
    padding-right:50px;
  }

  .slides {
    display: none;
  }
  
  
.dots-container {
    text-align: center;
    margin-top: 10px;
}

  .dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
    margin-bottom: 40px;
  }
  
  .active {
    background-color: #717171;
  }
  

  .flex-container3{
    background-color: #BFEDE3;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Items are spaced evenly with space between them */
    align-items: center; /* Align items vertically in the center */
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom:20px;
  }

  .flex-container3 h1{
    font-size: 30px;
    margin-top:-15px;
    margin-left: 20px;

    font-family: "Readex Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style:normal;
    font-variation-settings: "HEXP" 0; 
  }

  .flex-container3 p {
    margin-top: -50px;
   margin-left:150px;

   font-family: "Readex Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style:normal;
    font-variation-settings: "HEXP" 0; 
  }

  

  .container {
    margin-top:500px;
        margin: 0 auto;
        width: 80%;
        padding: 20px;
        position: relative;
        z-index: 1;
        margin-top:-20px;
      }
      
      .progress-bar-container { /*around progress bar*/
        position: relative;
        width: 100%;
        height: 30px;
        border: 1px solid white;
        border-radius: 15px;
        overflow: hidden;
        margin-top:20px;
      }
      
      .progress-bar { /* the line*/
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: #FFFF47;
      }
      
      .progress-text { /*percentage*/
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: black;
       
      }

      #startButton{
        border-radius: 15px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        background-color:#FFFF47 ;
        margin-top:20px;
        margin-left:55px;
        padding:10px;
        padding-left:40px;
        padding-right:40px;

        font-family: "Readex Pro", sans-serif;
        font-size: 15px;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style:normal;
        font-variation-settings: "HEXP" 0; 
      }
      
      
      /* Tasks*/
      h2{
        
        padding-top: 25px; 
        margin-left:30px;

        font-family: "Readex Pro", sans-serif;
        font-size: 30px;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style:normal;
        font-variation-settings: "HEXP" 0; 
      }

      .flex-container4 {
        display: flex;
        justify-content: space-between; /* Items are spaced evenly with space between them */
        align-items: center; /* Align items vertically in the center */
        border-radius: 30px;
        margin-left: 20px;
        margin-right: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    padding-right: 20px;
    padding-bottom:30px;
    background-color:#BFEDE3 ;
    }
    
    
    .task h1 {
      font-size: 25px;
      margin-bottom: -40px;
      margin-top:-10px;
      font-weight: 400;
      line-height: 1;
      text-align: left;
      
      font-family: "Readex Pro", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style:normal;
      font-variation-settings: "HEXP" 0; 
      
      
    }
    
    
    .check{
        margin-left:30px;
       margin-top:40px;
    }

    .info{
    margin-top:40px;
    margin-right:20px;
}
    
    /*other tasks*/
    .flex-container5{
        display: flex;
        flex-direction: column;
        justify-content: center; /* Items are spaced evenly with space between them */
        align-items: center; /* Align items vertically in the center */
        border-radius: 30px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top:25px;
        background-color:rgba(191, 237, 227, 0.4);
    }
    
    .lock{
        padding-top:15px;
    }

    .task p{
        font-family: "Readex Pro", sans-serif;
      font-optical-sizing: auto;
      font-weight: 300;
      font-style:normal;
      font-variation-settings: "HEXP" 0; 

      padding-left:60px;
      padding-right:60px;
      text-align:center ;
      
    }

    /* Completed tasks*/

    .flex-container6 {
        display: flex;
        justify-content: space-between; 
        align-items: center; 
        border-radius: 30px;
        margin-left: 20px;
        margin-right: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    padding-right: 20px;
    background-color:#FFFF47 ;
    margin-bottom: 100px;
    }

    .task2 h1{
        font-size: 25px;
        margin-bottom: -40px;
        margin-top:-10px;
        font-weight: 400;
        line-height: 1;
        text-align: left;
        
        font-family: "Readex Pro", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style:normal;
        font-variation-settings: "HEXP" 0; 
    }

    .task-info{
        text-align: left;
    }

.checked{
    margin-left: 30px;
}

.day{
    margin-left: 40px;
}
    }
      

